<div class="jumbotron">
  <h1>Welcome</h1>
  <h2>See users:</h2>
  <%= link "User List", to: user_path(@conn, :index) %>
  <h2>See videos:</h2>
  <%= link "Video List", to: video_path(@conn, :index) %>
</div>
