<div class="jumbotron">
  <h2>Welcome to Rumbl.io!</h2>
  <p class="lead">It is a Phoenix Application</p>
  <h2>See the current list of users:</h2>
  <%= link "View", to: user_path(@conn, :index) %>
</div>
